@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(90deg,#0f1116,#1a1b22 100%);
  color: #fff;
  font-family: "Khula", sans-serif;
	overflow-x: hidden;
  height: 100vh;
  margin: 0;
  text-align: center;
}

a {
	display: block;
	margin-bottom: 10px;
	font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #6868f8;
}

.season-btn:hover {
	background-color: #3131eb;
}


.mode {
	cursor: default;
	font-size: 1.5rem;
}


.season-btn {
	font: 700 21px Arial, Helvetica, sans-serif;
	display: block;
	width: 250px;
	margin-top: 15px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #6868f8;
	color: black;
	cursor: pointer;
	transition: background-color .3s;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.btn-list li {
  margin: 10px;
}

/* irregular verbs data base */
.sound-btn {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 4px;
	background-color: #6868f8;
	color: black;
	cursor: pointer;
	transition: background-color .3s;
}

.table {
	margin: 0 auto;
	border-spacing: 30px;
	text-align: left;
}

.table th {
	font-size: 28px;
}

.table td {
	font-size: 20px;
}